.desktop15-container {
  min-height: 100vh;
}
.desktop15-maskgroup4 {
  top: 272.55322265625px;
  left: 779.2152099609375px;
  width: 459.6897277832031px;
  height: 459.36431884765625px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop15-desktop15 {
  width: 100%;
  height: 2852px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop15-text {
  top: 353px;
  left: 116px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 80px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop15-text05 {
  top: 559px;
  left: 120px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop15-group39817 {
  top: 84px;
  left: 975px;
  width: 451px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop15-text10 {
  color: rgba(18, 64, 44, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 116.60000085830688%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-text12 {
  top: 1px;
  left: 108px;
  color: rgba(18, 64, 44, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 116.60000085830688%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-text14 {
  top: 0.7587890625px;
  left: 263px;
  color: rgba(18, 64, 44, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 116.60000085830688%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-text16 {
  top: 0.7587890625px;
  left: 398px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 116.60000085830688%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-rectangle657 {
  top: 109px;
  left: 975px;
  width: 55px;
  height: 4px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop15-frame759 {
  top: 1022px;
  left: 0px;
  width: 1440px;
  height: 560px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: rgba(11, 89, 213, 1);
}
.desktop15-ellipse128 {
  top: -39px;
  left: -88px;
  width: 261px;
  height: 261px;
  opacity: 1;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop15-ellipse129 {
  top: 428px;
  left: 590px;
  width: 261px;
  height: 261px;
  opacity: 1;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop15-text18 {
  top: 176px;
  left: 736px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 72px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 101.10000371932983%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop15-text20 {
  top: 282px;
  left: 736px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop15-frame7591 {
  top: 98px;
  left: 137px;
  width: 224px;
  height: 303px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 30px;
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 1);
}
.desktop15-asse3t11 {
  top: 20.75342559814453px;
  left: 0px;
  width: 323px;
  height: 261px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop15-frame7592 {
  top: 190px;
  left: 417px;
  width: 224px;
  height: 303px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 30px;
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 1);
}
.desktop15-cees1 {
  top: 59px;
  left: 68px;
  width: 88px;
  height: 244px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop15-text25 {
  top: 426px;
  left: 137px;
  color: rgba(254, 255, 254, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 153.99999618530273%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop15-text27 {
  top: 109px;
  left: 428px;
  color: rgba(254, 255, 254, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 153.99999618530273%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop15-frame758 {
  top: 371px;
  left: 736px;
  width: 256px;
  height: 80px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.desktop15-text29 {
  color: rgba(4, 47, 176, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop15-text31 {
  top: 78px;
  left: 207px;
  color: rgba(11, 89, 213, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 153.99999618530273%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop15-frame757 {
  top: 1582px;
  left: 0px;
  width: 1440px;
  height: 662px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 1);
}
.desktop15-text33 {
  top: 137.12890625px;
  left: 120px;
  color: rgba(0, 0, 0, 1);
  width: 582px;
  height: auto;
  position: absolute;
  font-size: 72px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 101.10000371932983%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop15-text38 {
  top: 333px;
  left: 120px;
  color: rgba(0, 0, 0, 1);
  width: 620px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop15-ellipse1281 {
  top: -142px;
  left: -62px;
  width: 473px;
  height: 473px;
  opacity: 1;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop15-ellipse1291 {
  top: 461px;
  left: 499px;
  width: 473px;
  height: 473px;
  opacity: 1;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop15-group8 {
  top: 241px;
  left: 823px;
  width: 411px;
  height: 61.72527313232422px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop15-playstore-button {
  top: 0px;
  left: 0px;
  width: 195.7142791748047px;
  height: 61.72527313232422px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.desktop15-group {
  top: 0.283203125px;
  left: 0px;
  width: 195.7142791748047px;
  height: 61.16071319580078px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop15-vector {
  top: 0px;
  left: 0px;
  width: 196px;
  height: 61px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector01 {
  top: 12.232421875px;
  left: 14.984375px;
  width: 33px;
  height: 36px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector02 {
  top: 12.232421875px;
  left: 16.20751953125px;
  width: 24px;
  height: 18px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector03 {
  top: 24.310546875px;
  left: 34.09716796875px;
  width: 14px;
  height: 11px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector04 {
  top: 29.96875px;
  left: 16.360498428344727px;
  width: 23px;
  height: 18px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector05 {
  top: 27.521484375px;
  left: 58.82763671875px;
  width: 124px;
  height: 26px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector06 {
  top: 49.2343864440918px;
  left: 174.61386108398438px;
  width: 0px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector07 {
  top: 49.2343864440918px;
  left: 174.9578399658203px;
  width: 0px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector08 {
  top: 49.2343864440918px;
  left: 175.07254028320312px;
  width: 0px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector09 {
  top: 11.009765625px;
  left: 59.47900390625px;
  width: 8px;
  height: 9px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector10 {
  top: 11.162109375px;
  left: 69.41748046875px;
  width: 6px;
  height: 9px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector11 {
  top: 11.162109375px;
  left: 76.90966796875px;
  width: 7px;
  height: 9px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector12 {
  top: 11.162109375px;
  left: 88.8359375px;
  width: 2px;
  height: 9px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector13 {
  top: 11.162109375px;
  left: 91.89404296875px;
  width: 7px;
  height: 9px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector14 {
  top: 11.009765625px;
  left: 103.5146484375px;
  width: 9px;
  height: 9px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector15 {
  top: 11.162109375px;
  left: 114.06494140625px;
  width: 7px;
  height: 9px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-appstore-button {
  top: 0px;
  left: 215.2857208251953px;
  width: 195.7142791748047px;
  height: 60.97252655029297px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.desktop15-group1 {
  top: -0.4704670310020447px;
  left: 0px;
  width: 195.7142791748047px;
  height: 61.16071319580078px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop15-vector16 {
  top: 0px;
  left: 0px;
  width: 196px;
  height: 61px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector17 {
  top: 19.234375px;
  left: 15.66357421875px;
  width: 31px;
  height: 29px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector18 {
  top: 10.091796875px;
  left: 30.986328125px;
  width: 8px;
  height: 9px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector19 {
  top: 27.8281307220459px;
  left: 59.63169479370117px;
  width: 17px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector20 {
  top: 33.1796989440918px;
  left: 78.74441528320312px;
  width: 14px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector21 {
  top: 33.1796989440918px;
  left: 95.10490417480469px;
  width: 14px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector22 {
  top: 27.67578125px;
  left: 115.13525390625px;
  width: 12px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector23 {
  top: 29.81640625px;
  left: 128.89599609375px;
  width: 9px;
  height: 18px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector24 {
  top: 33.02734375px;
  left: 139.4462890625px;
  width: 14px;
  height: 15px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector25 {
  top: 32.873046875px;
  left: 155.80712890625px;
  width: 8px;
  height: 15px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector26 {
  top: 33.02734375px;
  left: 164.98095703125px;
  width: 13px;
  height: 15px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector27 {
  top: 11.162109375px;
  left: 61.46630859375px;
  width: 8px;
  height: 10px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector28 {
  top: 13.607421875px;
  left: 71.09912109375px;
  width: 7px;
  height: 7px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector29 {
  top: 13.76171875px;
  left: 79.5087890625px;
  width: 10px;
  height: 7px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector30 {
  top: 13.455078125px;
  left: 91.7412109375px;
  width: 6px;
  height: 7px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector31 {
  top: 10.55078125px;
  left: 100.45654296875px;
  width: 2px;
  height: 10px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector32 {
  top: 13.607421875px;
  left: 104.27880859375px;
  width: 7px;
  height: 7px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector33 {
  top: 13.607421875px;
  left: 112.99462890625px;
  width: 6px;
  height: 7px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector34 {
  top: 10.703125px;
  left: 120.94532012939453px;
  width: 7px;
  height: 10px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector35 {
  top: 13.607421875px;
  left: 133.94189453125px;
  width: 7px;
  height: 7px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector36 {
  top: 13.455078125px;
  left: 143.26904296875px;
  width: 6px;
  height: 7px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector37 {
  top: 12.080078125px;
  left: 155.5009765625px;
  width: 4px;
  height: 9px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector38 {
  top: 10.55078125px;
  left: 161.9228515625px;
  width: 6px;
  height: 10px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector39 {
  top: 13.76171875px;
  left: 170.1796875px;
  width: 6px;
  height: 7px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-frame7571 {
  top: 2244px;
  left: 0px;
  width: 1440px;
  height: 608px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: rgba(11, 89, 213, 1);
}
.desktop15-rectangle73 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 608px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop15-group34 {
  top: 268px;
  left: 919px;
  width: 122px;
  height: 152px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop15-text40 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-text42 {
  top: 68px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 165.3999924659729%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-text44 {
  top: 122px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 165.3999924659729%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-group33 {
  top: 268px;
  left: 1148px;
  width: 152px;
  height: 152px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop15-text46 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-text48 {
  top: 68px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 165.3999924659729%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-text50 {
  top: 122px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 165.3999924659729%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-group36 {
  top: 268px;
  left: 428px;
  width: 136px;
  height: 260px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop15-text52 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-text54 {
  top: 68px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 165.3999924659729%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-text56 {
  top: 122px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 165.3999924659729%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-text58 {
  top: 176px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 165.3999924659729%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-text60 {
  top: 230px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 165.3999924659729%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-group35 {
  top: 268px;
  left: 688px;
  width: 107px;
  height: 206px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop15-text62 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-text64 {
  top: 68px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 165.3999924659729%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-text66 {
  top: 122px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 165.3999924659729%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-text68 {
  top: 176px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 165.3999924659729%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-instagram {
  top: 345px;
  left: 220px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop15-ellipse15 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.desktop15-logoinstagram1 {
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-twitter {
  top: 345px;
  left: 120px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop15-ellipse14 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.desktop15-frame {
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-group43 {
  top: 63px;
  left: 428px;
  width: 892px;
  height: 125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop15-rectangle70 {
  top: 69px;
  left: 0px;
  width: 892px;
  height: 56px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.desktop15-rectangle71 {
  top: 69px;
  left: 712px;
  width: 180px;
  height: 56px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 0 10px 10px 0;
}
.desktop15-text70 {
  top: 89px;
  left: 764px;
  color: rgba(4, 47, 176, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-text72 {
  top: 82px;
  left: 16px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-text74 {
  left: 6px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.desktop15-ellipse1282 {
  top: -115px;
  left: -107px;
  width: 401px;
  height: 401px;
  opacity: 1;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop15-facebook {
  top: 345px;
  left: 270px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop15-ellipse13 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.desktop15-frame1 {
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-linkedin {
  top: 345px;
  left: 320px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop15-ellipse16 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.desktop15-frame2 {
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-telegram {
  top: 345px;
  left: 170px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop15-ellipse17 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.desktop15-telegram31 {
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-ellipse1283 {
  top: 413px;
  left: 1081px;
  width: 401px;
  height: 401px;
  opacity: 0.10;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop15-union {
  top: 268px;
  left: 120px;
  width: 87px;
  height: 36px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.desktop15-group2 {
  top: 127px;
  left: 163px;
  width: 118.5005111694336px;
  height: 121.00038146972656px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop15-vector40 {
  top: 31.07773780822754px;
  left: 29.47419548034668px;
  width: 60px;
  height: 60px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector41 {
  top: 0px;
  left: 3.0399060249328613px;
  width: 115px;
  height: 66px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector42 {
  top: 55.403472900390625px;
  left: 2.2737367544323206e-13px;
  width: 116px;
  height: 66px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-group3 {
  top: 70px;
  left: 126px;
  width: 62.429134368896484px;
  height: 63.745941162109375px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop15-vector43 {
  top: 16.372743606567383px;
  left: 15.527755737304688px;
  width: 31px;
  height: 31px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector44 {
  top: -4.547473508864641e-13px;
  left: 1.6014907360076904px;
  width: 61px;
  height: 35px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-vector45 {
  top: 29.187786102294922px;
  left: 0px;
  width: 61px;
  height: 35px;
  position: absolute;
  box-sizing: border-box;
}
.desktop15-frame7581 {
  top: 670px;
  left: 116px;
  width: 256px;
  height: 80px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
  justify-content: center;
  background-color: rgba(11, 89, 213, 1);
}
.desktop15-text76 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
